<ion-view title="CineClub Universitario" id="page81">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/NC9ZIdbaSup9G8LC2QPn_CineClubUNLaR.jpg" style="display: block; width: 70%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div>
      <h4 style="text-align: center;">
        <span style="color: #000080;">
          <strong>Todos los martes y jueves a las 21hs. en la Sala Azul del MicroCine</strong>
        </span>
      </h4>
      <p>&nbsp;</p>
      <h4 style="text-align: center;">
        <span style="color: #000080;">
          <strong>***Entrada libre y gratuita.**</strong>
        </span>
      </h4>
      <p>&nbsp;</p>
      <p>
        <strong>CARTELERA JUNIO</strong>
      </p>
      <p>
        <strong>Ciclo de Terror !</strong>
      </p>
      <p>&nbsp;</p>
      <ul style="list-style-type: circle;">
        <li>
          <span style="color: #0000ff;">
            <strong>Martes 04/05</strong>
          </span>
        </li>
      </ul>
      <p>Pelicula</p>
      <p>Sinopsis:</p>
      <hr>
      <ul style="list-style-type: circle;">
        <li>
          <strong>
            <span style="color: #0000ff;">Martes 11/05</span>
          </strong>
        </li>
      </ul>
      <p>Pelicula</p>
      <p>Sinopsis:</p>
      <hr>
      <ul>
        <li>
          <span style="color: #0000ff;">
            <strong>Martes 18/05</strong>
          </span>
        </li>
      </ul>
      <p>Pelicula</p>
      <p>Sinopsis:</p>
      <hr>
      <ul>
        <li>
          <span style="color: #0000ff;">
            <strong>Martes 25/05</strong>
          </span>
        </li>
      </ul>
      <p>Pelicula</p>
      <p>Sinopsis:</p>
      <hr>
      <p>&nbsp;</p>
    </div>
  </ion-content>
</ion-view>