<ion-view title="Humanas" id="page78">
  <ion-content padding="true" class="has-header">
    <ion-list id="humanas-list19">
      <ion-item class="item-icon-left assertive" id="humanas-list-item134" href-inappbrowser="http://www.ingeotec.tk/horarios-1-cuatrimestre-geologia/">
        <i class="icon ion-android-calendar"></i>Geología</ion-item>
      <ion-item class="item-icon-left assertive" id="humanas-list-item135" href-inappbrowser="http://www.ingeotec.tk/horarios-1-cuatrimestre-ing-agronomica/">
        <i class="icon ion-android-calendar"></i>Ing. Agronómica</ion-item>
      <ion-item class="item-icon-left assertive" id="humanas-list-item136" href-inappbrowser="http://www.ingeotec.tk/horarios-1-cuatrimestre-ing-agroindustrial/">
        <i class="icon ion-android-calendar"></i>Ing. Agroindustrial</ion-item>
      <ion-item class="item-icon-left assertive" id="humanas-list-item137" href-inappbrowser="http://www.ingeotec.tk/horarios-1-cuatrimestre-ing-en-alimentos/">
        <i class="icon ion-android-calendar"></i>Ing. en Alimentos</ion-item>
      <ion-item class="item-icon-left assertive" id="humanas-list-item138" href-inappbrowser="http://www.ingeotec.tk/horarios-1-cuatrimestre-ing-civil/">
        <i class="icon ion-android-calendar"></i>Ing. Civil</ion-item>
      <ion-item class="item-icon-left assertive" id="humanas-list-item139" href-inappbrowser="http://www.ingeotec.tk/horarios-1-cuatrimestre-ing-industrial/">
        <i class="icon ion-android-calendar"></i>Ing. Industrial</ion-item>
      <ion-item class="item-icon-left assertive" id="humanas-list-item140" href-inappbrowser="http://www.ingeotec.tk/horarios-1-cuatrimestre-ing-de-minas/">
        <i class="icon ion-android-calendar"></i>Ing. de Minas</ion-item>
      <ion-item class="item-icon-left assertive" id="humanas-list-item141" href-inappbrowser="http://www.ingeotec.tk/horarios-1-cuatrimestre-tec-electro-electronica/">
        <i class="icon ion-android-calendar"></i>Tec. Electro-Electrónica</ion-item>
      <ion-item class="item-icon-left assertive" id="humanas-list-item142" href-inappbrowser="http://www.ingeotec.tk/horarios-1-cuatrimestre-arquitectura/">
        <i class="icon ion-android-calendar"></i>Arquitectura</ion-item>
    </ion-list>
  </ion-content>
</ion-view>