<ion-view title="Inicio" hide-nav-bar="true" id="page1" style="background-color:#15D6D0;">
  <ion-nav-buttons side="left">
    <button class="button button-icon icon No Icon"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <div>
      <img src="img/ZLqYjcVZSgC5S89SpTrh_LogoGuiaUNLaR512.png" style="display: block; width: 95%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="inicio-list2">
      <ion-item class="item-icon-left positive" id="inicio-list-item10" ui-sref="gUAUNLaR.ingresantes()">
        <i class="icon ion-android-contacts"></i>Ingresantes</ion-item>
      <ion-item class="item-icon-left positive" id="inicio-list-item11" ui-sref="gUAUNLaR.estudiantes()">
        <i class="icon ion-document-text"></i>Estudiantes</ion-item>
      <ion-item class="item-icon-left positive" id="inicio-list-item12" ui-sref="gUAUNLaR.graduados()">
        <i class="icon ion-university"></i>Graduados</ion-item>
      <ion-item class="item-icon-left positive" id="inicio-list-item13" href-inappbrowser="http://www.ingeotec.tk/category/noticias/">
        <i class="icon ion-social-rss-outline"></i>Noticias
        <span class="item-note">Online</span>
      </ion-item>
      <ion-item class="item-icon-left positive" id="inicio-list-item114" href-inappbrowser="https://api.whatsapp.com/send?phone=543804791665">
        <i class="icon ion-social-whatsapp-outline"></i>Contacto</ion-item>
      <ion-item class="item-icon-left positive" id="inicio-list-item15" ui-sref="gUAUNLaR.acercaDeLaApp()">
        <i class="icon ion-ios-loop-strong"></i>Acerca de la App</ion-item>
    </ion-list>
    <a ui-sref="gUAUNLaR.comedorUniversitario()" id="inicio-button30" style="font-weight:500;color:#FFFFFF;" class="button button-energized button-block">Comedor Universitario</a>
    <a ui-sref="gUAUNLaR.cineClubUniversitario()" id="inicio-button33" style="font-weight:500;color:#FFFFFF;" class="button button-energized button-block">CineClub Universitario</a>
  </ion-content>
</ion-view>